app:
  scheduler:
    interval: PT10S
  link-check-delay: PT1M
  database-access-type: jpa
  use-queue: true
  queue:
    name: scrapper
    exchange: scrapper
    routing-key: scrapper

management:
  server:
    port: ${SCRAPPER_PORT:8082}
  endpoints:
    enabled-by-default: false
    web:
      base-path: /
      exposure.include: [ "info", "health", "prometheus" ]
      path-mapping:
        prometheus: metrics
  endpoint:
    info.enabled: true
    health:
      enabled: true
      probes.enabled: true
      group:
        readiness.include: db
        liveness.include: ping
    prometheus.enabled: true
  metrics.tags:
    application: ${spring.application.name}


spring:
  jpa:
    show-sql: true
    database: postgresql

  datasource:
    url: jdbc:postgresql://localhost:5433/scrapper
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}

  liquibase:
    enabled: false

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: 5672
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}

springdoc:
  swagger-ui:
    path: '/swagger-ui'
server:
  port: ${SCRAPPER_PORT:8082}
