app:
  bot-token: ${BOT_TOKEN}
  queue:
    name: scrapper
    exchange: scrapper
    routing-key: scrapper

springdoc:
  swagger-ui:
    path: '/swagger-ui'

spring:

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: 5672
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    listener:
      simple:
        default-requeue-rejected: false
        retry:
          enabled: true
          max-attempts: 3
      direct:
        default-requeue-rejected: false


server:
  port: ${BOT_PORT:8081}