app:
  bot-token: ${BOT_TOKEN}
  queue:
    name: scrapper
    exchange: scrapper
    routing-key: scrapper

management:
  server:
    port: ${BOT_PORT:8081}
  endpoints:
    enabled-by-default: false
    web:
      base-path: /
      exposure.include: [ "info", "health", "prometheus" ]
      path-mapping:
        prometheus: metrics
  endpoint:
    info.enabled: true
    health:
      enabled: true
      probes.enabled: true
      group:
        readiness.include: db
        liveness.include: ping
    prometheus.enabled: true
  metrics.tags:
    application: ${spring.application.name}

springdoc:
  swagger-ui:
    path: '/swagger-ui'

spring:

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: 5672
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    listener:
      simple:
        default-requeue-rejected: false
        retry:
          enabled: true
          max-attempts: 3
      direct:
        default-requeue-rejected: false


server:
  port: ${BOT_PORT:8081}
