app:
  scheduler:
    interval: PT10S
  link-check-delay: PT1M
  database-access-type: jpa
#  client:
#    gitHubClientUrl: 'www.github.com'
spring:
  jpa:
    show-sql: true
    database: postgresql

  datasource:
    url: jdbc:postgresql://localhost:5433/scrapper
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  liquibase:
    enabled: false

springdoc:
  swagger-ui:
    path: '/swagger-ui'
server:
  port: ${SCRAPPER_PORT}