name: Bot Module Java CI with Maven

on:
  push:
    paths:
      - 'bot/**'
      - '.github/workflows/bot.yml'

env:
  REGISTRY: ghcr.io
  USERNAME: sevolchenko

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Maven package
        run: mvn package -pl bot -am

      - name: Build Docker image
        run: docker build scrapper/ -t $REGISTRY/$USERNAME/bot:latest

      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ secrets.TOKEN }}

      - name: Push image
        run: docker push $REGISTRY/$USERNAME/bot:latest