name: Scrapper Module Java CI with Maven

on:
  push:
    paths:
      - 'scrapper/**'
      - 'shared/**'
      - 'link-parser/**'
      - '.github/workflows/scrapper.yml'
      - '*'

env:
  REGISTRY: ghcr.io
  USERNAME: sevolchenko

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Maven package
        run: mvn package -pl scrapper -am

      - name: Build Docker image
        run: docker build scrapper/ -t ${{ env.REGISTRY }}/${{ env.USERNAME }}/scrapper:latest

      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ secrets.TOKEN }}

      - name: Push image
        run: docker push ${{ env.REGISTRY }}/${{ env.USERNAME }}/scrapper:latest

  checkstyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Check code
        run: mvn -pl scrapper checkstyle:check
