name: Scrapper Module Java CI with Maven

on:
  push:
    paths:
      - 'project/scrapper/**'
      - '.github/workflows/scrapper.yml'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Maven package
        run: mvn package -pl scrapper -am