global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'spring_boot_prometheus'
    metrics_path: '/prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:8081']
      - targets: ['localhost:8082']
